<html>
<head>
    
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="app.js"></script>
  <script src="formcheck.js"></script>
</head>
<body>
    <header>
        
            <h2 id="home-text">Lina's Childcare Service</h2>
            <nav>
                <ul class="nav items">
                    <li><a href="#my-Intro" id="link1">About Me</a></li>
                    <li><a href="#Setting-anchor" id="link2">The Setting</a></li>
                    <li><a href="#pricings" id="link3">Prices</a></li>
                    <li><a href="#contact" id="link4">Contact</a></li>
                </ul>
            </nav>
        
    </header>

    <section id="hero">
        {{!-- <div id="hero-bg"></div> --}}
        <div id="container">
            <h1> Where children Progress</h1>
            <a href="#my-Intro" id="hero-btn">Learn More</a>
        </div>
    </section>
    <section id="about-me">

    </section>
    <section id="about-me-descrip">
    <div id="profile-header">
        <h2 id="my-Intro">Miquilina Junior</h2>
        <img id="header-pic" src="barbatos.jpg" />
    </div>
    <h1>About Me</h1>
    <hr/>
    <p>
        I'm Miquilina Junior, I live in Rotherhithe, London. I have 
        three children, Anderson, Kelly and Alison. I have 7 years
        experience. Five within a nuursey setting and two as a 
        registered childminder. I am registered to care for 6 children. 
        Thats broken down to 1 baby and a mix of five children either
        under 5 or over. At my Ofsted inspection I recieved "GOOD" grading.
        <br/><br>
        I take my chosen occupation very seriously and try to take any
        steps which I feel will increase my effectiveness as a 
        Registered Childminder and improve the service I provide.
        Therefore, I am always keen to update and refresh my knowledge
        through relevant training courses. I have completed a Level 3
        qualification "Childcare".
    </p>
    
    
    </section> 

    <section id="Min-show">

    </section>
    <section id="Setting">
        <h1 id="Setting-anchor">The Setting</h1>
        <hr/>
        <p>
            Your child will be cared for in a home-like
            environment within a family atmosphere.  
            They will receive individual attention whilst 
            also enjoying interaction with children of 
            various ages. I attend regular sessions at 
            Toddler groups and soft play centres. When we 
            can, we spend as much time out of the house as 
            possible, visiting places such as the library
            and park. WE also do activities within the setting,
            such as painting and other types of creative activities 
            where the children can take an active role in what they want 
            to do within a selection. As i have a garden there are also 
            outdoor activities at the setting for the children. Such as Sand play, 
            water play and variety of other outdoor toys. 
            <br><br>
            Incase of an emergency where im not available, 
            I work alongside another childminder, Patricia
            who lives very close at flat 8. This a requirement 
            from Ofsted that as a childminder i need to know another 
            registered childminder incase of emergencies. 

            </p>
            <div class="wrap">
                <div id="arrow-left" class="arrow"></div>
                <div id="slider">
                  <div class="slide slide1">
                    <div class="slide-content">
                      <span>Image One</span>
                    </div>
                  </div>
                  <div class="slide slide2">
                    <div class="slide-content">
                      <span>Image Two</span>
                    </div>
                  </div>
                  <div class="slide slide3">
                    <div class="slide-content">
                      <span>Image Three</span>
                    </div>
                  </div>
                    <div class="slide slide4">
                     <div class="slide-content">
                      <span>Image Three</span>
                    </div>
                  </div>
                    <div class="slide slide5">
                     <div class="slide-content">
                      <span>Image Three</span>
                    </div>
                  </div>
                  <div class="slide slide6">
                     <div class="slide-content">
                      <span>Image Three</span>
                    </div>
                  </div>
                  <div class="slide slide7">
                     <div class="slide-content">
                      <span>Image Three</span>
                    </div>
                  </div>
                  <div class="slide slide8">
                     <div class="slide-content">
                      <span>Image Three</span>
                    </div>
                  </div>
                </div>
                <div id="arrow-right" class="arrow"></div>
            </div>
    </section>

    <section id="Min-show">

    </section>

    <section class="prices" id="prices">
        <h1 id="pricings">Pricing</h1>
        <hr/>
        <p>
            Sibling discount: oldest child is charged at half price
            <br>
            School pick up: £20 per day including snack monday to friday
            <br>
            Working hours: 7am - 6:30pm everyday except tuesday which i close at 6pm
        </p>
        <div class="col">
            <ul class="price-box">
                <li class="header">Prices 0-2 Years</li>
                <li class="emph"><strong>£60 Per</strong> / Day, less than 4 days a week</li>
                <li><strong>£50 Per</strong> / Day for 5 days a week</li>
                
                <li class="emph"><a href="#" class="button"> Sign Up</a></li>
            </ul>
        </div>

        <div class="col">
            <ul class="price-box">
                <li class="header">Prices 2+ Years</li>
                <li class="emph"><strong>£50 Per</strong> / Day, less than 4 days a week</li>
                <li><strong>£40 Per</strong> / Day for 5 days a week</li>
                
                <li class="emph"><a href="#" class="button"> Sign Up</a></li>
            </ul>
        </div>
        </section>

        <section id="Min-show">

            </section>

        <section id="contact">

            <h1>Contact Me</h1>
            <hr />
            <form method="POST" action="send">
                <p>
                    <label>Name</label>
                    <input type="text" name="name" placeholder="John Doe" required>
                </p>
                <p>
                    <label>Email Address</label>
                    <input type="email" id="email" name="email"  placeholder="example@email.com" required>
                </p>
                <p>
                    <label>Phone Number</label>
                    <input type="tel" id="phone" name="phone" placeholder="###-####-####" minlength="11" maxlength="11" required>
                </p>
                <p>
                    <label>Message</label>
                    <textarea id="textarea" type="textarea" name="message" placeholder="Message here..." required></textarea>
                    {{msg}}
                </p>
                <button type="reset">Clear</button>
                <button type="submit"  value="submit" id="btnSnd" onclick="return formValidate();">Send</button>
            </form>
            </section>

            <footer>
                    <p>&copy;  Anderson Coelho</p>
            </footer>


    <script src="slide.js"></script>
    
</body>
</html>